$primary: #1aa34a;
$primary-hover: #1ed760;
$secondary: #282828;
$secondary-hover: #949494;
$third: #d3d3d3;
$third-hover: #efefef;
$black: #000000;

* {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: $black; 
}

::-webkit-scrollbar-thumb:hover {
  background: $primary; 
}

body {
  background-color: $third-hover;
}

button {
  background-color: $primary;
  padding: 5px 20px;
  border-radius: 50px;
  transition: 500ms;
  cursor: pointer;
  &:hover {
    background-color: $primary-hover;
  }
}

.App {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#time-stamps {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

#now-playing-name {
  font-size: 28px;
  margin: 20px auto 0 auto;
  text-align: left;
  max-width: 1000px;
}

#now-playing-artists {
  font-size: 16px;
  margin: 5px auto 0 auto;
  text-align: left;
  max-width: 1000px;
}

#login {
  left: 0;
  position: relative;
  height: 35px;
  min-width: 80px;
  min-width: max-content;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  padding: 0 15px;
  line-height: 35px;
  display: inline-block;
  transition: 500ms;
  text-decoration: none;
  text-align: center;
  color: #000000;
  &:hover {
    background-color: $primary-hover;
  }
  overflow: hidden;
}

#login-a {
  display: flex;
  width: min-content;
}

#now-playing-img-div {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $third;
  height: 100%;
  width: 300px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:hover ion-icon {
      display: block;
      font-size: 64px;
      display: block;
  }
  ion-icon {
    display: none;
    font-size: 64px;
  }
}

#transfer-playback-selection {
  margin-top: 25px;
  text-align-last: center;
  border: none;
  outline: none;
  min-width: 200px;
  height: 45px;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px 5px;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  right: -10px;
  position: relative;
  transition: 500ms;
  color: $primary;
  &:hover {
    color: $primary-hover;
  }
}

#dropdown-arrow {
  display: inline-block;
  position: relative;
  width: 10px !important;
  left: -15px;
  top: 2px;
  width: 10px !important;
  cursor: pointer;
  margin-left: 7px;
}

#previous, #next {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary;
  margin: 25px;
  transition: 500ms;
  cursor: pointer;
  &:hover {
    color: #1ed760;
  }
  ion-icon {
    font-size: 30px;
  }
}

#play-pause {
  height: 65px;
  width: 65px;
  background-color: transparent;
  border: 4px solid $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary;
  margin: 25px;
  border-radius: 50%;
  transition: 500ms;
  cursor: pointer;
  &:hover {
    color: #1ed760;
    border-color: #1ed760;
  }
  ion-icon {
    font-size: 30px;
  }
}

#player {
  display: flex;
  justify-content: center;
  align-items: center;
}

#volume {
  position: fixed;
  right: 15px;
  width: 100px;
}

#volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 50px;  
  background-color: $third;
  outline: none;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: $primary;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $primary;
  cursor: pointer;
}

#progress-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 40px;  
  background: $third;
  outline: none;
  margin-top: 50px;
  max-width: 1000px;
  cursor: pointer;
}

#progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: $secondary;
  cursor: pointer;
}

#progress-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $secondary;
  cursor: pointer;
}

#status-bar {
  background-color: $secondary;
  color: $third-hover;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search-songs {
  border-radius: 50px;
  width: 200px;
  height: 30px;
  margin-left: 15px;
  background-color: $third;
  color: $secondary;
  padding-left: 25px;
  line-height: 30px;
  &:focus {
    background-color: $third-hover;
    color: $black;
    box-shadow: 0 0 3pt 2pt $primary;
  }
}

#search-songs-icon {
  position: fixed;
  bottom: 17px;
  left: 20px;
  color: $secondary;
}

#search-results {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  top: 0;
  background-color: $third;
  &::before {
    content: attr(data-text);
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 7px;
  }
  overflow-y: auto;
}

.hide {
  display: none;
}

.search-result {
  display: inline-block;
  font-size: 21px;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.search-info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}

.result-artist {
  line-height: 20px;
  text-align: left;
}

.search-result-img {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.result-row {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  border-bottom: 1px solid $third-hover;
  cursor: pointer;
  &:hover {
    background-color: $third-hover;
  }
}

.current-song {
  color: $primary;
}

#close-search {
  position: fixed;
  top: 13px;
  right: 15px;
  color: $third;
  font-size: 32px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $secondary;
}

#track-duration {
  margin-left: 15px;
}

.volume-animation {
  height: 100%;
  margin: 0 25px;
  transform: rotate(180deg);
}

.volume-animation li{
  display:inline-block;
}

.volume-animation li span{
  display:block;
  width: 5px;
  animation: volumeAnimation 400ms linear infinite alternate;
}

@keyframes volumeAnimation {
  0%{height:5px;}
  100%{height:30px;}
}

li:nth-child(1) span{
  background:$primary;
  animation-delay:0.3s;
}

li:nth-child(2) span{
  background:$black;
  animation-duration:0.7s;
}

li:nth-child(3) span{
  background:$primary;
  animation-delay:0.8s;
}

li:nth-child(4) span{
  background:$black;
  animation-delay:0.4s;
}

li:nth-child(5) span{
  background:$primary;
  animation-duration:0.6s;
}

#login-page {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  justify-content: center;
  align-items: center;
}

#login-block {
  display: block;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}