* {
  font-family: 'Segoe UI';
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #1aa34a;
}

body {
  background-color: #efefef;
}

button {
  background-color: #1aa34a;
  padding: 5px 20px;
  border-radius: 50px;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

button:hover {
  background-color: #1ed760;
}

.App {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#now-playing-name {
  font-size: 32px;
  margin-top: 20px;
}

#login {
  left: 0;
  position: relative;
  height: 35px;
  min-width: 80px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: #1aa34a;
  cursor: pointer;
  margin: 10px;
  padding: 0 15px;
  border-radius: 50px;
  line-height: 35px;
  display: inline-block;
  -webkit-transition: 500ms;
  transition: 500ms;
  text-decoration: none;
  text-align: center;
  color: #000000;
  overflow: hidden;
}

#login:hover {
  background-color: #1ed760;
}

#login-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#now-playing-img-div {
  margin-top: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #d3d3d3;
  height: 100%;
  width: 300px;
  cursor: pointer;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover ion-icon {
  display: block;
  font-size: 64px;
  display: block;
}

.overlay ion-icon {
  display: none;
  font-size: 64px;
}

#transfer-playback-selection {
  margin-top: 25px;
  text-align-last: center;
  border: none;
  outline: none;
  min-width: 200px;
  height: 45px;
  background-color: #1aa34a;
  border-radius: 50px;
  padding: 5px 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: inline-block;
  right: -10px;
  position: relative;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#transfer-playback-selection:hover {
  background-color: #1ed760;
}

#dropdown-arrow {
  display: inline-block;
  position: relative;
  width: 10px !important;
  left: -15px;
  top: 2px;
  width: 10px !important;
  cursor: pointer;
}

#previous, #next, #play-pause {
  height: 50px;
  width: 50px;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d3d3d3;
  margin: 25px;
  border-radius: 50%;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

#previous:hover, #next:hover, #play-pause:hover {
  color: #1ed760;
}

#player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#volume {
  position: fixed;
  right: 15px;
  width: 100px;
}

#volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: #d3d3d3;
  outline: none;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1aa34a;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1aa34a;
  cursor: pointer;
}

#progress-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 40px;
  background: #d3d3d3;
  outline: none;
  margin-top: 50px;
  max-width: 1000px;
  cursor: pointer;
}

#progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #282828;
  cursor: pointer;
}

#progress-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #282828;
  cursor: pointer;
}

#status-bar {
  background-color: #282828;
  color: #efefef;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-songs {
  border-radius: 50px;
  width: 200px;
  height: 30px;
  margin-left: 15px;
  background-color: #d3d3d3;
  color: #282828;
  padding-left: 25px;
  line-height: 30px;
}

#search-songs:focus {
  background-color: #efefef;
  color: #000000;
  -webkit-box-shadow: 0 0 3pt 2pt #1aa34a;
          box-shadow: 0 0 3pt 2pt #1aa34a;
}

#search-songs-icon {
  position: fixed;
  bottom: 17px;
  left: 20px;
  color: #282828;
}

#search-results {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  top: 0;
  background-color: #d3d3d3;
  overflow-y: auto;
}

#search-results::before {
  content: attr(data-text);
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 32px;
  margin-bottom: 15px;
  margin-top: 7px;
}

.hide {
  display: none;
}

.search-result {
  display: inline-block;
  font-size: 21px;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.search-info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result-artist {
  line-height: 20px;
  text-align: left;
}

.search-result-img {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.result-row {
  margin: 0 auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.result-row:hover {
  background-color: #efefef;
}

.current-song {
  color: #1aa34a;
}

#close-search {
  position: fixed;
  top: 13px;
  right: 15px;
  color: #d3d3d3;
  font-size: 32px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #282828;
}

#track-duration {
  margin-left: 15px;
}

.volume-animation {
  height: 100%;
  margin: 0 25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.volume-animation li {
  display: inline-block;
}

.volume-animation li span {
  display: block;
  width: 5px;
  -webkit-animation: volumeAnimation 400ms linear infinite alternate;
          animation: volumeAnimation 400ms linear infinite alternate;
}

@-webkit-keyframes volumeAnimation {
  0% {
    height: 5px;
  }
  100% {
    height: 30px;
  }
}

@keyframes volumeAnimation {
  0% {
    height: 5px;
  }
  100% {
    height: 30px;
  }
}

li:nth-child(1) span {
  background: #1aa34a;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

li:nth-child(2) span {
  background: #000000;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

li:nth-child(3) span {
  background: #1aa34a;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

li:nth-child(4) span {
  background: #000000;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

li:nth-child(5) span {
  background: #1aa34a;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

#login-page {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-block {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 200px;
}
/*# sourceMappingURL=App.css.map */