.App {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#previous, #next, #play-pause {
  height: 50px;
  width: 50px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 25px;
  border-radius: 50%;
  cursor: pointer;
}

#player {
  display: flex;
  justify-content: center;
}

#volume-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 200px;
  height: 10px;
  border-radius: 50px;  
  background: #d3d3d3;
  outline: none;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #282c34;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #282c34;
  cursor: pointer;
}

#progress-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 50px;  
  background: #d3d3d3;
  outline: none;
  cursor: pointer;
}

#progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #282c34;
  cursor: pointer;
}

#progress-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #282c34;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
