$primary: #1aa34a;
$primary-hover: #1ed760;
$secondary: #282828;
$third: #d3d3d3;
$third-hover: #efefef;
$black: #000000;

* {
  font-family: 'Segoe UI';
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background-color: $third-hover;
}

button {
  background-color: $primary;
  padding: 5px 20px;
  border-radius: 50px;
  transition: 500ms;
  cursor: pointer;
  &:hover {
    background-color: $primary-hover;
  }
}

.App {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#now-playing-name {
  font-size: 32px;
  margin-top: 20px;
}

#login {
  left: 0;
  position: relative;
  height: 35px;
  width: 80px;
  background-color: $primary;
  cursor: pointer;
  margin: 10px;
  border-radius: 50px;
  line-height: 35px;
  display: block;
  transition: 500ms;
  text-decoration: none;
  color: #000000;
  &:hover {
    background-color: $primary-hover;
  }
}

#now-playing-img-div {
  margin-top: 80px;
}

#transfer-playback-selection {
  margin-top: 25px;
  text-align-last: center;
  border: none;
  outline: none;
  min-width: 200px;
  height: 45px;
  background-color: $primary;
  border-radius: 50px;
  padding: 5px 5px;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  right: -10px;
  position: relative;
  transition: 500ms;
  &:hover {
    background-color: $primary-hover;
  }
}

#dropdown-arrow {
  display: inline-block;
  position: relative;
  width: 10px !important;
  left: -15px;
  top: 2px;
  width: 10px !important;
  cursor: pointer;
}

#previous, #next, #play-pause {
  height: 50px;
  width: 50px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $third;
  margin: 25px;
  border-radius: 50%;
  transition: 500ms;
  cursor: pointer;
  &:hover {
    color: #1ed760;
  }
}

#player {
  display: flex;
  justify-content: center;
}

#volume-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  height: 10px;
  border-radius: 50px;  
  background-color: $third;
  outline: none;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: $secondary;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $secondary;
  cursor: pointer;
}

#progress-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 40px;  
  background: $third;
  outline: none;
  margin-top: 50px;
  max-width: 1000px;
  cursor: pointer;
}

#progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: $secondary;
  cursor: pointer;
}

#progress-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $secondary;
  cursor: pointer;
}
