* {
  font-family: 'Segoe UI';
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background-color: #efefef;
}

button {
  background-color: #1aa34a;
  padding: 5px 20px;
  border-radius: 50px;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

button:hover {
  background-color: #1ed760;
}

.App {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#now-playing-name {
  font-size: 32px;
  margin-top: 20px;
}

#login {
  left: 0;
  position: relative;
  height: 35px;
  width: 80px;
  background-color: #1aa34a;
  cursor: pointer;
  margin: 10px;
  border-radius: 50px;
  line-height: 35px;
  display: block;
  -webkit-transition: 500ms;
  transition: 500ms;
  text-decoration: none;
  color: #000000;
}

#login:hover {
  background-color: #1ed760;
}

#now-playing-img-div {
  margin-top: 80px;
}

#transfer-playback-selection {
  margin-top: 25px;
  text-align-last: center;
  border: none;
  outline: none;
  min-width: 200px;
  height: 45px;
  background-color: #1aa34a;
  border-radius: 50px;
  padding: 5px 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: inline-block;
  right: -10px;
  position: relative;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#transfer-playback-selection:hover {
  background-color: #1ed760;
}

#dropdown-arrow {
  display: inline-block;
  position: relative;
  width: 10px !important;
  left: -15px;
  top: 2px;
  width: 10px !important;
  cursor: pointer;
}

#previous, #next, #play-pause {
  height: 50px;
  width: 50px;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d3d3d3;
  margin: 25px;
  border-radius: 50%;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

#previous:hover, #next:hover, #play-pause:hover {
  color: #1ed760;
}

#player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#volume-slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  height: 10px;
  border-radius: 50px;
  background-color: #d3d3d3;
  outline: none;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #282828;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #282828;
  cursor: pointer;
}

#progress-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 40px;
  background: #d3d3d3;
  outline: none;
  margin-top: 50px;
  max-width: 1000px;
  cursor: pointer;
}

#progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #282828;
  cursor: pointer;
}

#progress-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #282828;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */